<div class="container col col-8">
  <h1 class="text-center font">MeFit login page</h1>
  <form class="text-center" (ngSubmit)= "onSubmit()">
    <label class="form-label">Welcome, please login to continue</label>
    <div>
      <input type ="text" class="form-control m-1" name = "username" [(ngModel)] = "email" placeholder ="Type in your email"/>
      <input type ="password" class="form-control m-1" name = "password" [(ngModel)] = "password" placeholder ="Type in your password" />
    </div>
    <div>
      <button type="button" class="btn btn-success m-1">Login</button>
      <button type="button" class="btn btn-secondary" (click)="toRegister()">Register</button>
    </div>
  </form>
</div>

<footer class="bottom-0 position-sticky text-end m-1">By Experis Academy</footer>