<div class="container col-10 col-xs-8 col-sm-6 col-lg-5">
  <div class="card mt-3">
    <img src="assets\images\login.jpg">
    <div class="card-body m-2">
      <h1 class="card-title text-center">MeFit</h1>
      <form class="text-center" (ngSubmit)="onSubmit()">
        <label class="form-label">Welcome</label>
        <div>
          <input type="text" class="form-control" name="username" [(ngModel)]="email" placeholder ="Email" />
          <input type="password" class="form-control mt-3" name="password" [(ngModel)]="password" placeholder ="Password" />
        </div>
        <div>
          <button type="form-control" class="btn btn-primary m-2">Login</button>
          <button (click)="toRegister()" class="btn btn-secondary m-2">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
  
<footer class="position-absolute bottom-0 end-0 m-2">By Experis Academy</footer>