<select class = "exercise-options" name="selectGoalEx5" (change)="onChangeGoalEx5()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class = "workout-options" name="selectGoalWork5" (change)="onChangeGoalWork5()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>

<button id="clear" class="clear" (click)="clear5()">Clear day</button>