<div class="clearfix text-center">

<select class = "exercise-options-do form-select" name="select1.1" (change)="onChangeEx()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class ="workout-options-do form-select" name="select1.2" (change)="onChangeWork()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>

</div>
