<select class = "exercise-options" name="selectGoalEx3" (change)="onChangeGoalEx3()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class = "workout-options" name="selectGoalWork3" (change)="onChangeGoalWork3()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>

<button id="clear" class="clear" (click)="clear3()">Clear day</button>