<div class="m-3 text-center col-11">

<select class = "exercise-options form-select" name="selectGoalEx1" (change)="onChangeGoalEx1()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class = "workout-options form-select" name="selectGoalWork1" (change)="onChangeGoalWork1()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>
<div class="text-center">
  <button class="clear btn btn-danger m-1" (click)="clear1()">Clear day</button>
</div>

</div>
