<select class = "exercise-options" name="selectGoalEx7" (change)="onChangeGoalEx7()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class = "workout-options" name="selectGoalWork7" (change)="onChangeGoalWork7()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>

<button id="clear" class="clear" (click)="clear7()">Clear day</button>