.error{
    background-color: red;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
}

.btn {
    background: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: monospace;
  }