<div class="main">
    
  <div class="time">
    <span>
        {{date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()}}
    </span>
  </div>

    <div class="current-goal">
      <h2>Current goal!</h2>
    </div>
    <div class="previous-goals">
      <h2>Previous goals!</h2>
    </div>  
    <div class="finished-goals">
      <h3>Finished goals!</h3>
        <ul class="finish-goals-list">
            <li *ngFor="Goal of GoalMap | keyvalue" >
              {{Goal.timeStamp}}
              {{Goal.program}}
              {{Goal.ex}}
            </li>
        </ul>
    </div> 
    <div class="unfinished-goals">
      <h3>Unfinished goals!</h3>
    </div>

    <div class="navbar">
      <a href="/login">Login</a>
      <a href="/dashboard">Goal Dashboard</a>
      <a class="active" href="/goaldetails">Goal Details</a>
      <a href="/exercises">Exercises</a>
      <span><h1>{{username}}'s Goal details page!</h1></span>
    </div>

<footer>By Experis Academy</footer>
</div>
