.main {
    background: url(src\assets\images\running.jpg) center;
    background-repeat: repeat-y;
    position: fixed; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    overflow: auto;   
}

h1 {
    color: black;
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    display:inline-block;
    width:100%;
}

.btn {
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
    height: 55px;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 75px;
}

.time {
    background-color: blanchedalmond;
    text-align: center;
    position: absolute;
    width: 110px;
    top: 80px;
    left: 100px;
    padding: 1%;
    border-style: solid;
    border-color : black;
}

.current-goal {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 200px;
    width: 800px;
    top: 100px;
    left: 23%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;
    overflow: auto;
}

.previous-goals {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 50px;
    width: 800px;
    top: 320px;
    left: 23%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;
}

.finished-goals {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 200px;
    width: 800px;
    top: 370px;
    left: 23%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;
    overflow: auto;
}

.unfinished-goals {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 200px;
    width: 800px;
    top: 570px;
    left: 23%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;
    overflow: auto;
}

footer {
    color: black;
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    display:inline-block;
    width:100%;
    position: absolute;
    top: 820px;
    left:0px;
}
