<div class="main">
    <h1>{{username}}'s Goal details page!</h1>
    <div class = "textbutton">
      <h2>Current goal!</h2>
      <h2>Previous goals!</h2>
      <h3>Finished goals!</h3>
      <span>
        <ul class="finishGoals">
            <li *ngFor="Goal of GoalMap | keyvalue" >
              {{Goal.timeStamp}}
              {{Goal.program}}
              {{Goal.ex}}
            </li>
        </ul>
    </span> 
      <h3>Unfinished goals!</h3>
      
   
    </div>
    <div>
      <button id="btn-dashboard" type="form-control" (click)="toGoalDashbord()" class="btn">Goal dashboard</button>
    </div>
<footer>By Experis Academy</footer>
</div>
