<section class="programme-content">
  <div class="all-programmes">
    <h2>Here you will see all the programmes you can choose from</h2>

    <ngb-accordion [closeOthers]="true"
    (click)="onProgrammeClicked(programme)"
    *ngFor="let programme of programmes">
      <ngb-panel       
      title="{{ programme.name }}  {{ programme.category }}">
        <ng-template ngbPanelContent>
          <!--{{ programme.workouts }} -->
          <app-selected-programme></app-selected-programme>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>    
</section>
