.main {
    background: white url(src\assets\images\running.jpg) center;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-repeat: repeat-x;
}

h1 {
    color: black;
    background-color: lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    display:inline-block;
    width:100%;
}

.label {
    color: black;
    background-color: lightgoldenrodyellow;
    width: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
    margin-left: -100px;
    font-size: 18px;
    position: absolute;
    left: 40%;
    right: auto;
    top: 15%;
}

.text {
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
    margin-left: -100px;
    position: absolute;
    left: 50%;
    right: auto;
    top: 25%;
}

.button {
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
    margin-left: -100px;
    position: absolute;
    left: 50%;
    right: auto;
    top: 38%;
}

.btn {
    background: lightgoldenrodyellow;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

footer {
    color: black;
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    display:inline-block;
    width:100%;
    position: fixed;
    bottom: 10%;
    left: -1%;

}
