<div class="container col col-8">
    <h1 class="text-center">MeFit registration page</h1>
    <form class="text-center" (ngSubmit)= "onSubmit()">
      <label class="form-label">Welcome, please register to continue</label>
    <div>
      <input type ="text" class="form-control m-1" name = "email" [(ngModel)] = "email" placeholder ="Type in your email" />
      <input type ="text" class="form-control m-1" name = "firstname" [(ngModel)] = "firstname" placeholder ="Type in your first name" />
      <input type ="text" class="form-control m-1" name = "lastname" [(ngModel)] = "lastname" placeholder ="Type in your last name" />
      <input type ="password" class="form-control m-1" name = "password" [(ngModel)] = "password1" placeholder ="Type in your password" />
      <input type ="password" class="form-control m-1" name = "password" [(ngModel)] = "password2" placeholder ="Repeat password" />
    </div> 
    <div>
      <button type="button" class="btn btn-success m-1">Register</button>
    </div>
    </form>
</div>

<footer class="bottom-0 position-sticky text-end m-1">By Experis Academy</footer>
