<app-navbar></app-navbar>
<section class="exercise-content">
  <div class="all-exercises mx-3">
    <br><h3>Here you see all the exercises you can choose from</h3>
    <br><h4>Click the name of an exercise to see more details</h4><br>
    <ul class="list-group">
      <!-- loops over fetched exercises and displays each. click function sets selected exercise so selected-exercise will be displayed -->
      <li class="list-group-item col-8"
        *ngFor="let exercise of exercises"
        (click)="onExerciseClicked(exercise)"
      >
        <h4>{{ exercise.name }}</h4>
        <p>targets the following musclegroup: {{ exercise.targetMuscleGroup }}</p>
      </li>
    </ul>
  </div>
  
  <div class="selected-exercises">
    <app-selected-exercise></app-selected-exercise>
  </div>

</section>