<select class = "exercise-options" name="selectGoalEx6" (change)="onChangeGoalEx6()">
    <option>Choose an exercise</option>
    <option *ngFor="let ex of exercises ; let i = index" >
      {{ex.name}}
    </option>
</select>


 <select class = "workout-options" name="selectGoalWork6" (change)="onChangeGoalWork6()">
    <option>Choose a workout</option>
    <option *ngFor="let work of workouts ; let i = index" >
     {{work.name}}
    </option>
</select>

<button id="clear" class="clear" (click)="clear6()">Clear day</button>