<div class="container">
    <div class="text-center">
        <h1>Dashboard</h1>
    </div>
    <div class="text-center">
        <div class="col-5 card p-3 mb-3 me-3 float-start">
            <div class="card-title">
                <h3>
                    Your daily progress
                </h3>
            </div>
            <div class="card-body">
                <div class="progress-bar rounded mb-3">
                    {{[dailyProgress_display]}}%
                </div>
                <div>
                    <h4>
                        Your workouts for today
                    </h4>
                </div>
                <div class="col-12 text-center">
                    <ul class="list-group list-group-flush float-center">
                        <li class="list-group-item mt-2" *ngFor="let item of ex_choice_map_name | keyvalue" >
                            <div class="col-10">
                                <p class="font-weight-bold">
                                    {{item.value}}
                                    {{item.key}}
                                </p>
                                <button class="btn btn-info" type="button" (click)="updateExFinish(item.key)">
                                    Finished
                                </button>
                                <button class="btn btn-danger" type="button" (click)="remove(item.key)">
                                    Remove
                                </button>
                            </div>
                            <div class="col-10 m-3">
                                <p>
                                    Add more or fewer repetitions below
                                </p>
                                <div>
                                    <button class="btn btn-secondary m-1" (click)="increment10(item.key)">
                                        +10
                                    </button>
                                    <button class="btn btn-secondary m-2" (click)="increment1(item.key)">
                                        +1
                                    </button>
                                    <button class="btn btn-secondary m-2" (click)="decrement10(item.key)">
                                        -10
                                    </button>
                                    <button class="btn btn-secondary m-1" (click)="decrement1(item.key)">
                                        -1
                                    </button>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="m-2">
                    <h5>
                        Please select a workout or exercises you would like to do
                    </h5>
                    <select class="form-select" name="select1.1" (change)="onChangeEx()">
                        <option>
                            Choose an exercise
                        </option>
                        <option *ngFor="let ex of exercises ; let i = index">
                            {{ex.name}}
                        </option>
                    </select>
                </div>
                <div class="m-2">
                    <select class="form-select" name="select1.2" (change)="onChangeWork()">
                        <option>
                            Choose a workout
                        </option>
                        <option *ngFor="let work of workouts ; let i = index" >
                            {{work.name}}
                        </option>
                    </select>
                </div>
                <div>
                    <h5>
                        Finished Exercises
                    </h5>
                    <ul>
                        <li *ngFor="let item of ex_finish_map_name | keyvalue" >
                            {{item.key}}
                            ({{item.value}})
                            <button class="NotFinish" id="i" (click)="updateExPlaned(item.key)">
                                Undo
                            </button>
                        </li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn btn-success" (click)="commitFinish()">
                        Confirm
                    </button>
                </div>
            </div>
        </div>


        <div class="col-5 card p-3 mb-3 float-end">
            <div class="card-title">
                <h4>
                    Your weekly progress
                </h4>
            </div>
            <div class="card-body">
                <div class="progress-bar rounded">
                        {{[weeklyProgress_display]}}%
                </div>
                <div class="m-3">
                    <h5>
                        Build your weekly workout program
                    </h5>
                    <select class="form-select" name="selectProgram" (change)="onChangeProgram()">
                        <option>Choose a program</option>
                        <option *ngFor="let program of programmes ; let i = index" >
                          {{program.name}}
                        </option>     
                    </select>
                    <div class="m-3">
                        <button type="button" class="btn btn-success" (click)="commitGoal()">
                            Confirm
                        </button>
                    </div>
                    <div class="m-3">
                        <p>
                            In case you made a mistake
                        </p>
                        <button class="btn btn-warning m-1" (click)="clearweek()">
                            Clear Week
                        </button>
                        <button class="btn btn-danger m-1" (click)="uncommitGoal()">
                            Remove Goal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- The split between new and old -->

    
    
    <div class="col-12 card">
        <ul class="weekly-goal">

            <!--First day-->
            <h4>{{dayOne}}</h4>

            <select class = "exercise-options" name="selectGoalEx1" (change)="onChangeGoalEx1()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork1" (change)="onChangeGoalWork1()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>
            
            <button id="clear" class="clear" (click)="clear1()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day1_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day1_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day1_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day1_1(item.key)">-1</button>
                    {{item.key}}
                    ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day1(item.key)">Remove</button>
            </li> 

             <!--Second day-->
            <h4>{{dayTwo}}</h4>

            <select class = "exercise-options" name="selectGoalEx2" (change)="onChangeGoalEx2()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork2" (change)="onChangeGoalWork2()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear2()">Clear day</button>
            
            <li *ngFor="let item of program_ex_map_name2 | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day2_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day2_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day2_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day2_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day2(item.key)">Remove</button>
            </li>

             <!--Third day-->
            <h4>{{dayThree}}</h4>

            <select class = "exercise-options" name="selectGoalEx3" (change)="onChangeGoalEx3()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork3" (change)="onChangeGoalWork3()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear3()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name3  | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day3_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day3_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day3_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day3_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day3(item.key)">Remove</button>
            </li> 

            <!--Fouth day-->
            <h4>{{dayFour}}</h4>

            <select class = "exercise-options" name="selectGoalEx4" (change)="onChangeGoalEx4()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork4" (change)="onChangeGoalWork4()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear4()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name4 | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day4_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day4_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day4_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day4_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day4(item.key)">Remove</button>
            </li>

            <!--Fifth day-->
            <h4>{{dayFive}}</h4>

            <select class = "exercise-options" name="selectGoalEx5" (change)="onChangeGoalEx5()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork5" (change)="onChangeGoalWork5()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear5()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name5 | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day5_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day5_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day5_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day5_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day5(item.key)">Remove</button>
            </li> 

            <!--Sixth day-->
            <h4>{{daySix}}</h4>

            <select class = "exercise-options" name="selectGoalEx6" (change)="onChangeGoalEx6()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork6" (change)="onChangeGoalWork6()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear6()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name6 | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day6_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day6_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day6_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day6_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day6(item.key)">Remove</button>
            </li> 

            <!--Seventh day-->
            <h4>{{daySeven}}</h4>

            <select class = "exercise-options" name="selectGoalEx7" (change)="onChangeGoalEx7()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork7" (change)="onChangeGoalWork7()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear7()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name7 | keyvalue" >
                <button id="i" class="day-buttons" (click)="increment_day7_10(item.key)">+10</button> 
                <button id="i" class="day-buttons" (click)="decrement_day7_10(item.key)">-10</button>
                <button id="i" class="day-buttons" (click)="increment_day7_1(item.key)">+1</button> 
                <button id="i" class="day-buttons" (click)="decrement_day7_1(item.key)">-1</button>
                {{item.key}}
                ({{item.value}} repititions left)
                <button id="i" class="day-buttons" (click)="remove_day7(item.key)">Remove</button>
            </li>  
        </ul>
    </div>
<footer class="float-end">By Experis Academy</footer>
</div>