<div class="main">
    <h1>{{username}}'s' goal dashboard!</h1>
    <div class = "calander">
        <p>You cannot choice more than 5 exercizes per session! <br> 
            you must choose all excersizes before you start looging them as finished!<br>
            One workout has five excersizes!
        </p>
        <ol>
            <li>
                <span>
                    {{date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()}}
                </span>
                <button id="commit" (click)="commitFinish()">Commit finishes!</button>
                <span>
                    <h3>Morning</h3>
                    <span>
                        <h4>Planned!</h4>
                        <ul class="Excersizedisplay1">
                            <li *ngFor="let choise of ex_choice_list; let i = index" >
                              {{choise}}
                              <button id="i" (click)="updateExFinish(this.i)">Finished!</button>
                              <button id="i" (click)="remove(this.i)">Remove!</button>
                            </li>>
                        </ul>
                    </span>
                    <span>
                        <h4>Finished!</h4>
                        <ul class="ExFinishdisplay1">
                            <li *ngFor="let finish of ex_finish_list; let i = index" >
                              {{finish}}
                              <button class="NotFinish" id="i" (click)="updateExPlaned(this.i)">Not finished!</button>
                            </li>>
                        </ul>
                    </span>
                    <select class = "ExcerciseOptions1" name="select1.1" (change)="onChangeEx()">
                        <option *ngFor="let excersize of excersize_options ; let i = index" >
                          {{excersize}}
                        </option>
                    </select>

                    <select class = "WorkoutOptions1" name="select1.2" (change)="onChangeWork()">
                        <option *ngFor="let workout of workout_keys ; let i = index" >
                          {{workout}}
                        </option>
                    </select>

                </span>
                <span>
                    <h3>Noon</h3>
                    <span>
                        <h4>Planned!</h4>
                        <ul class="Excersizedisplay2">
                            <li *ngFor="let choise of ex_choice_list2; let i = index" >
                              {{choise}}
                              <button id="i" (click)="updateExFinish2(this.i)">Finished!</button>
                              <button id="i" (click)="remove2(this.i)">Remove!</button>
                            </li>>
                        </ul>
                    </span>
                    <span>
                        <h4>Finished!</h4>
                        <ul class="ExFinishdisplay2">
                            <li *ngFor="let finish of ex_finish_list2; let i = index" >
                              {{finish}}
                              <button class="NotFinish" id="i" (click)="updateExPlaned2(this.i)">Not finished!</button>
                            </li>>
                        </ul>
                    </span>
                    <select class = "ExcerciseOptions2" name="select2.1" (change)="onChangeEx2()">
                        <option *ngFor="let excersize of excersize_options ; let i = index" >
                          {{excersize}}
                        </option>
                    </select>

                    <select class = "WorkoutOptions2" name="select2.2" (change)="onChangeWork2()">
                        <option *ngFor="let workout of workout_keys ; let i = index" >
                          {{workout}}
                        </option>
                    </select>
                </span>

                <span>
                    <h3>Evening</h3>
                    <span>
                        <h4>Planned!</h4>
                        <ul class="Excersizedisplay3">
                            <li *ngFor="let choise of ex_choice_list3; let i = index" >
                              {{choise}}
                              <button id="i" (click)="updateExFinish3(this.i)">Finished!</button>
                              <button id="i" (click)="remove3(this.i)">Remove!</button>
                            </li>>
                        </ul>
                    </span>
                    <span>
                        <h4>Finished!</h4>
                        <ul class="ExFinishdisplay3">
                            <li *ngFor="let finish of ex_finish_list3; let i = index" >
                              {{finish}}
                              <button class="NotFinish" id="i" (click)="updateExPlaned3(this.i)">Not finished!</button>
                            </li>>
                        </ul>
                    </span>
                    <select class = "ExcerciseOptions3" name="select3.1" (change)="onChangeEx3()">
                        <option *ngFor="let excersize of excersize_options ; let i = index" >
                          {{excersize}}
                        </option>
                    </select>

                    <select class = "WorkoutOptions3" name="select3.2" (change)="onChangeWork3()">
                        <option *ngFor="let workout of workout_keys ; let i = index" >
                          {{workout}}
                        </option>
                    </select>
                </span>
            </li>
        </ol>
    <div>
        <h2>Weekly Goal!</h2>
        <button id="i" (click)="commitProgram()">Commit program!</button>
        <select class = "ProgramOption" name="selectProgram" (change)="onChangeProgram()">
            <option *ngFor="let program of program_keys ; let i = index" >
              {{program}}
            </option>     
        </select>
        <select class = "WorkoutOption" name="selectWorkout" (change)="onChangeWorkout()">
            <option *ngFor="let workout of workout_keys ; let i = index" >
              {{workout}}
            </option>     
        </select>
        <select class = "ExcersizeOption" name="selectEx" (change)="onChangeExcersize()">
            <option *ngFor="let Ex of excersize_options ; let i = index" >
              {{Ex}}
            </option>     
        </select>
        <button id="clearProgram" (click)="clearProgram()">Clear program!</button>
    </div>
    <div>
        <ul class="WeeklyGoal">
            <li *ngFor="let item of mapCount | keyvalue" >
                {{item.key}}
                {{item.value}}
            </li>    
        </ul>
    </div>
    <div>
        <h2>Choosen program!</h2>
        <ul class="WeeklyGoalcommit">
            <li *ngFor="let item of mapCountWeekCommitDisplay | keyvalue" >
                {{item.key}}
                {{item.value}}
            </li>    
        </ul>
        <h3>{{[progress_display]}}</h3>
        <h3>Time left to complete following program!</h3>
        <p>{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, </p>
        <p>{{message}}</p>
    </div>
    </div>
    <button id="btn-details" type="form-control" (click)="toGoalDetails()" class="btn">Goal details page</button>
<footer>By Experis Academy</footer>
</div>