.main {
    background: url(src\assets\images\running.jpg) center;
    background-repeat: repeat-y;
    position: fixed; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    overflow: auto;
}

h1 {
    color: black;
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    display:inline-block;
    width:100%;
}
.info {
    color: black;
    font-size: 15px;
    text-align: center;
}

.timer {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 75px;
    width: 440px;
    top: 150px;
    left: 9%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;
}


.progress {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: 13px;
    position: absolute;
    height: 75px;
    width: 787px;
    top: 100px;
    left: 39.5%;
    padding: auto;
    border-style: solid;
    border-color : black;
    margin: auto;

}

*, *::before, *::after{
    box-sizing: border-box;
}

.progressbar {
    width: 700px;
    height: 1.5em;
    background-color: darkgray;
    color: black;
    border-radius: 1.5em;
    position: relative;
    left: 5%; 
}

.progressbar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: calc(var(--widthbar, 0)*1%);
    min-width: 0%;
    max-width: 100%;
    background-color: lightgreen;
    border-radius: 1.5em;
    padding: 1%;

}
.progressbar-small {
    width: 600px;
    height: 1em;
    background-color: darkgray;
    color: black;
    border-radius: 1.5em;
    position: relative;
    left: 5%; 
}

.progressbar-small::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: calc(var(--widthbarsmall, 0)*1%);
    min-width: 1%;
    max-width: 100%;
    background-color: lightgreen;
    border-radius: 1.5em;
    padding: 1%;

}

.time {
    background-color: blanchedalmond;
    position: absolute;
    width: 110px;
    top: 80px;
    left: 40px;
    padding: 1%;
    border-style: solid;
    border-color : black;
}

.btn-details {
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-radius: 50px;
    height: 55px;
    position: absolute;
    top: 80px;
    left: 170px;
}

.commit-finish {
    background-color: lightgoldenrodyellow;
    margin: 5px;
    position: absolute;
    left: 40%;
    top: 70%;
    width: 600px;
    text-align: center;
    border-radius: 50px;
}

.fin, .remove, .notFinish {
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-radius: 50px;
} 

.day {
    background-color: beige;
    width: 800px;
    height: 246px;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 240px;
    left: 9%;
    overflow: auto;
}

.noon {
    background-color: beige;
    width: 400px;
    height: 246px;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 240px;
    left: 37%;
    overflow: auto;
}

.evening {
    background-color: beige;
    width: 400px;
    height: 246px;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 240px;
    left: 65%;
    overflow: auto;
}

.panes {
    margin: 2%;
}

.exercise-options, .workout-options {
    background-color: lightgoldenrodyellow;
}

.weekgoal {
    background-color: beige;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 50%;
    left: 9%;
    display:inline-block;
    height: 700px;
    width:700px;
}

.panebuttons {
    margin: 1%;
}

.commit-program, .clear-program {
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-radius: 50px;
}

.program-option, .workout-option, .excersize-option {
    background-color: lightgoldenrodyellow;
}

.weekgoal-display {
    background-color: beige;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 530px;
    left: 9%;
    width: 800px;
    height: 500px;
    overflow:auto;
}

.choosen {
    background-color: beige;
    text-align: center;
    border-style: solid;
    border-color : black;
    position: absolute;
    top: 670px;
    left: 80%;
    width: 200px;
    height: 245px;
    overflow:auto;
}
 

footer {
    color: black;
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    display:inline-block;
    width:100%;
    position: absolute;
    top: 950px;
    left:0px;
}
