<div class="main">
    <h1>{{username}}'s' goal dashboard!</h1>
        <p class = "info">You cannot choice more than 5 exercizes per session! <br> 
            you must choose all excersizes before you start looging them as finished!<br>
            One workout has five excersizes!
        </p>

        
        <span>
             {{oneDate.getFullYear()+"-"+oneDate.getMonth()+"-"+oneDate.getDate()}}
        </span>
        <button id="commit" class="commit-finish" (click)="commitFinish()">Commit finishes!</button>
            
        <div class="day">
                    <span>
                    <h3>Workouts of the day</h3>
                    <span>
                        <h4>Planned</h4>
                        <ul class="Excersizedisplay1">
                            <li *ngFor="let item of ex_choice_map_name | keyvalue" >
                              <button id="i" (click)="increment10(item.key)">+10</button> 
                              <button id="i" (click)="decrement10(item.key)">-10</button>
                              <button id="i" (click)="increment1(item.key)">+1</button> 
                              <button id="i" (click)="decrement1(item.key)">-1</button>   
                                {{item.key}}
                                ({{item.value}} repititions)
                              <button id="i" (click)="updateExFinish(item.key)">Finished!</button>
                              <button id="i" (click)="remove(item.key)">Remove!</button>
                            </li>>
                        </ul>
                    </span>
                    <span>
                        <h4>Finished</h4>
                        <ul class="ExFinishdisplay1">
                            <li *ngFor="let item of ex_finish_map_name | keyvalue" >
                                {{item.key}}
                                ({{item.value}} repititions)
                              <button class="NotFinish" id="i" (click)="updateExPlaned(item.key)">Not finished!</button>
                            </li>>
                        </ul>
                    </span>


                    <select class = "exercise-options-do" name="select1.1" (change)="onChangeEx()">
                        <option>Choose an exercise</option>
                        <option *ngFor="let ex of exercises ; let i = index" >
                          {{ex.name}}
                        </option>
                    </select>


                     <select class = "workout-options-do" name="select1.2" (change)="onChangeWork()">
                        <option>Choose a workout</option>
                        <option *ngFor="let work of workouts ; let i = index" >
                         {{work.name}}
                        </option>
                    </select>
                </span>
        </div>
                    


    <div class = "weekgoal-display">
        <h3>Exercise build for the week</h3>

        <button id="i" class ="commit-program" (click)="commitGoal()">Commit Goal</button>

        <select class = "program-options" name="selectProgram" (change)="onChangeProgram()">
            <option>Choose a programme</option>
            <option *ngFor="let program of programmes ; let i = index" >
              {{program.name}}
            </option>     
        </select>
        <button id="clear" class="clear" (click)="clearweek()">Clear week</button>
        <button id="i" class ="uncommit-program" (click)="uncommitGoal()">Uncommit Goal</button>
        <ul class="weekly-goal">

            <!--First day-->
            <h4>{{dayOne}}</h4>

            <select class = "exercise-options" name="selectGoalEx1" (change)="onChangeGoalEx1()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork1" (change)="onChangeGoalWork1()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>
            
            <button id="clear" class="clear" (click)="clear1()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li> 

             <!--Second day-->
            <h4>{{dayTwo}}</h4>

            <select class = "exercise-options" name="selectGoalEx2" (change)="onChangeGoalEx2()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork2" (change)="onChangeGoalWork2()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear2()">Clear day</button>
            
            <li *ngFor="let item of program_ex_map_name2 | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li>

             <!--Third day-->
            <h4>{{dayThree}}</h4>

            <select class = "exercise-options" name="selectGoalEx3" (change)="onChangeGoalEx3()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork3" (change)="onChangeGoalWork3()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear3()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name3  | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li> 

            <!--Fouth day-->
            <h4>{{dayFour}}</h4>

            <select class = "exercise-options" name="selectGoalEx4" (change)="onChangeGoalEx4()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork4" (change)="onChangeGoalWork4()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear4()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name4 | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li>

            <!--Fifth day-->
            <h4>{{dayFive}}</h4>

            <select class = "exercise-options" name="selectGoalEx5" (change)="onChangeGoalEx5()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork5" (change)="onChangeGoalWork5()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear5()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name5 | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li> 

            <!--Sixth day-->
            <h4>{{daySix}}</h4>

            <select class = "exercise-options" name="selectGoalEx6" (change)="onChangeGoalEx6()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork6" (change)="onChangeGoalWork6()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear6()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name6 | keyvalue" >
                {{item.key}}
                ({{item.value} repititions left)}
            </li> 

            <!--Seventh day-->
            <h4>{{daySeven}}</h4>

            <select class = "exercise-options" name="selectGoalEx7" (change)="onChangeGoalEx7()">
                <option>Choose an exercise</option>
                <option *ngFor="let ex of exercises ; let i = index" >
                  {{ex.name}}
                </option>
            </select>


             <select class = "workout-options" name="selectGoalWork7" (change)="onChangeGoalWork7()">
                <option>Choose a workout</option>
                <option *ngFor="let work of workouts ; let i = index" >
                 {{work.name}}
                </option>
            </select>

            <button id="clear" class="clear" (click)="clear7()">Clear day</button>

            <li *ngFor="let item of program_ex_map_name7 | keyvalue" >
                {{item.key}}
                ({{item.value}} repititions left)
            </li>  
        </ul>
    </div>
    
    
    <div class = "choosen">
        <h3>Choosen program</h3>
        <ul class="weeklygoal-commit">
            <li *ngFor="let item of mapCountWeekCommitDisplay | keyvalue" >
                {{item.key}}
                {{item.value}}
               <!-- <div class="progressbarsmall" style="--widthbarsmall:{{progress_small}}" data-label="progress..."></div> -->
            </li>    
        </ul>
    </div>

    <div class = "progress">
        <h3>{{[dailyProgress_display]}}</h3>
        <div class="progressbar" style="--widthbar:{{dailyProgress}}" data-label="progress..."></div>

        <h3>{{[weeklyProgress_display]}}</h3>
        <div class="progressbarWeek" style="--widthbar:{{weeklyProgress}}" data-label="progress..."></div>
    </div>
    <div class="timer">
        <h3>Time left to complete following program!</h3>
        <p>{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds, </p>
        <p>{{message}}</p>
    </div>
 
    <button id="btn-details" type="form-control" (click)="toGoalDetails()" class="btn-details">Goal details page</button>
<footer>By Experis Academy</footer>
</div>